/* material pink:#2196F3
   this file is used to change the normal color set.
   */

.mdui-snackbar-text {
  width: 100%;
}

.mdui-theme-primary-indigo .mdui-color-theme {
    color: #fff!important;
    background-color: #2196F3!important;

.mdui-theme-primary-indigo .mdui-color-theme-400 {
    color: #fff!important;
    background-color: #2196F3!important;

main {
  max-width: 760px !important;
}

main .mdui-row [class*=mdui-col-] {
  padding-top: 8px;
  padding-bottom: 28px;
}

#select>div {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 56px;
}
